body{
    font-family: Arial, Tahoma;
    font-size: 12px;
}
 
.container{
    width: 908px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.row{
	height: 50px;
    background-color: #F5F5F5;
    border: 1px solid #CDCDCD;
    margin-bottom:5px;

}
.box{
	width: 300px;
    min-height: 300px;
    border: 1px solid #CDCDCD;
    float:left;
    background-color: #004C00;
    margin-bottom: 5px;
}

.box {
     
position: relative;
     
overflow: hidden;
     
box-shadow: 0 0 5px #555;
 
}
 
.box img {
     
width: 100%;
     
height:300px;
 
}
 
.box .box-heading {
     
width: 90%;
     
position: absolute;
     
bottom: 25px;
     
left: 5%;
     
background: rgba(7, 185, 244, 0.6);
     
padding: 10px 60px 10px 25px;
     
color: #fff;
     
transition: all 0.3s ease 0s;
 
}
 
.box:hover .box-heading {
     
left: 100%;
 
}
 
.box .box-heading:after {
     
content: "";
     
font-family: fontawesome;
     
width: 40px;
     
height: 40px;
     
line-height: 40px;
     
position: absolute;
     
top: 0;
     
right: 0;
     
background: #20211c;
     
font-size: 30px;
     
color: #fff;
     
text-align: center;
 
}
 
.box .title {
     
margin: 0;
     
font-size: 18px;
     
font-weight: bold;
 
}
 
.box .boxContent {
     
width: 100%;
     
height: 100%;
     
position: absolute;
     
top: 0;
     
left: -100%;
     
padding: 30px 35px;
     
background: rgba(7, 185, 244, 0.8);
     
transition: all 0.3s ease 0s;
 
}
 
.box:hover .boxContent {
     
left: 0;
 
}
 
.box .description {
     
font-size: 14px;
     
color: #fff;
     
line-height: 25px;
 
}
 
.box .cart {
     
display: inline-block;
     
padding: 10px 20px;
     
background: #20211c;
     
font-size: 14px;
     
font-weight: 700;
     
color: #fff;
     
margin-top: 20px;
     
transition: all 0.3s ease 0s;
 
}
 
.box .cart:hover {
     
text-decoration: none;
     
background: #fff;
     
color: #3fc9f7;
 
}  
.box {
 
margin-bottom: 20px;
 
}

  
.box .boxContent {
 
padding: 10px;
 
}
  
.box .cart {
 
margin-top: 10px;
 
}
 
}